/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* CSS for site */
body{
	background-color: #000;
}

canvas{
	display: block;
	background-color: #0bf;
    margin: auto;
}

#menuBody{
    margin: 0px;
    padding: 0px;
    margin: auto;
}

#menuUI{
	display: block;
	position: relative;
	border: 4px solid #FFF;
    font-family: 'VT323';
	font-size: 25px;
	color: #FFF;
    text-align: center;
	border-radius: 5px;
	top: -350px;
	height: 75px;
	width: 200px;
	background-color: #000;
    margin: auto;
}

#overworldUI{
	background-color: #008fb3;
	font-family: 'VT323';
	font-size: 20px;
	color: #FFF;
	width: 250px;
	display: block;
	line-height: 30px;
	text-align: center;
	margin: auto;
}

.fightSection{
	display: block;
	position: relative;
	height: 500px;
	width: 600px;
	background-color: #000;
	margin:auto;
}

.enemyWindow{
	display:block;
	margin: auto;
	background-color: #0bf;
	position: relative;
	border: 4px solid #FFF;
	border-radius: 5px;
	top:20px;
}

.leftInputWindow{
	display:block;
	float: left;
	position: absolute;
	border: 4px solid #FFF;
	border-radius: 5px;
	bottom: 200px;
	height: 150px;
	width: 110px;
	background-color: #000;
}

.rightInputWindow{
	display:block;
	float: right;
	position: absolute;
	border: 4px solid #FFF;
	border-radius: 5px;
	right: 0px;
	bottom: 200px;
	height: 150px;
	width: 110px;
	background-color: #000;
}

.inputMenu{
	text-align: left;
	font-size: 25px;
	background-color: transparent;
	width: 70px;
	position: absolute;
	right: 0px;
}

.material-icons{
	color: #FFF;
	font-size: 20px;
	position: absolute;
}

.outputWindow{
	display: block;
	position: absolute;
	border: 4px solid #FFF;
	border-radius: 5px;
	bottom: 0px;
	right: 0px;
	height: 150px;
	width: 592px;
	background-color: #000;
}

.outputWindowText{
	display: block;
	position: absolute;
	top: 0px;
	padding-left: 10px;
	height: 150px;
	width: 582px;
	background-color: #000;
	font-family: 'VT323';
	font-size: 25px;
	text-align: left;
}

.fightWindowUIDiv{
	display: block;
	position: relative;
	top: 200px;
	margin: auto;
}